<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzg.mapper.GoodsMapper">

    <!--List<Goods> getAllGoods();-->
    <select id="getAllGoods" resultType="Goods">
        SELECT
            id,
            goods_id,
            goods_name,
            goods_type,
            price,
            img_path
        FROM
            goods;
    </select>

    <!--Goods getGoodsByGoodsId(String goodsId);-->
    <select id="getGoodsByGoodsId" resultType="Goods">
        SELECT
            id,
            goods_id,
            goods_name,
            goods_type,
            price,
            img_path
        FROM
            goods
        WHERE
            goods_id = #{goodsId};
    </select>
</mapper>