<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <h1> 商品详情 </h1>
    <br/><br/>
    <table class="table table-hover">
        <tr>
            <td>商品名称</td>
            <td th:text="${goodsDetailVo.goodsName}"></td>
        </tr>

        <tr>
            <td>商品图⽚</td>
            <td>
                <img th:src="@{${goodsDetailVo.imgPath}}" width="200" height="200"/>
            </td>
        </tr>

        <tr>
            <td>秒杀开始时间</td>
            <td th:text="${#dates.format(goodsDetailVo.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <span th:if="${status eq 0}">秒杀未开始</span>
                <span th:if="${status eq 1}">秒杀进行中</span>
                <span th:if="${status eq 2}">秒杀已结束</span>
            </td>
        </tr>

        <tr>
            <td>商品原价</td>
            <td th:text="${goodsDetailVo.price}"></td>
        </tr>

        <tr>
            <td>商品秒杀价</td>
            <td th:text="${goodsDetailVo.secKillPrice}"></td>
        </tr>

        <tr>
            <td>库存数量</td>
            <td th:text="${goodsDetailVo.stockNum}"></td>
        </tr>
    </table>
</body>
</html>